<% @widget_title=widget_properties['JenkinsProjectName'] %>
<link rel="stylesheet" type="text/css" href="<%= ApplicationController.root_context -%>/static/poyee/poyee.ccs">
<script src="<%= ApplicationController.root_context -%>/static/poyee/jenkins_widget.js"></script>
<script>
	<% url = "http://" + widget_properties['JenkinsHost'] + "/job/" + widget_properties['JenkinsProjectName'] +  "/lastBuild/api/json" %>
	accessJenkinsJson("<%= url %>");
</script>
<div>
	<a target="_blank" href='http://<%= widget_properties['JenkinsHost'] %>/job/<%= widget_properties['JenkinsProjectName'] %>/lastBuild/console'>
		<img id = "status" src="<%= ApplicationController.root_context -%>/static/poyee/build-unknown-lightgrey.svg" >
	</a>
	<p id ="build_number"></p>
</div>

